body{
   margin: 0;
}
nav{
    padding: 25px;
    display: flex;
    gap: 30px;
    justify-content: right;
    background-color:  rgb(228, 166, 176);
    margin-bottom: 80px;
}
a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
a:link{
    color: rgb(121, 66, 66);
}
a:visited{
    color: rgb(49, 106, 160);
}
a:hover{
    font-size: 16px;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}
h2{
    text-align: center;
    margin-bottom: 0;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px black dotted;
    background-color: antiquewhite;
    width: 500px;
    margin-bottom: 80px;
    justify-content: center;
}
.question{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

/* question 1 */
.main{
    margin: 0px auto;
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}
button{
    padding:20px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(169, 192, 206);
}
#btn1{
    display: block;
    margin: 0 auto;
    background-color:rgb(65, 79, 207) ;
}
#btn2{
    margin: 0 auto;
    background-color:rgb(207, 74, 65) ;
}
.line{
    text-align: center;
    width:150px;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
div{
    display: flex;
    gap: 30px;
}

/* question 2 */
large{
    display: block;
    margin: 0 auto;
    font-size: 30px;
    color: tomato;
    padding: 20px 40px;
    font-weight: bold;
}

/* question 3 */
form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
}
#sumbit-2{
    width: 100px;
    margin: 0 auto;
}
div{
    display: flex;
    gap: 10px;
    margin: 0 auto;
}
label{
    font-size: 20px;
    width: 80px;
    text-align: right;
}
input{
    padding: 5px;
}
#question2-h1{
    text-decoration: none;
}
.question2-h1{
    margin: 0 auto;
}

/* question 4 */
#volume{
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
} 
#submit-4{
    display: block;
    margin: 0px auto;
    height: auto;
}